@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 *{ 
 margin:0; 
 padding:0;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 box-sizing: border-box;}
 
 body{
 background-color:#916e292c;
 height:1000px;
 width:1517px;
 box-sizing:border-box;
 font-size: 15px;
 }
 
 body a{
 text-decoration:none;
 color: #555;
 }
 
 
 

#navbar{
 height:52px;
 width:1518px;
 background-color:white;
 display:flex;
 flex-direction:row;
 box-sizing:border-box; 
 }

    .navbar_left{
    height:52px;
    display:flex;
    flex-direction:row;
    box-sizing:border-box; 
	align-items:center;
	padding-left: 185px;
    }
        .input_field{
		height:52px;
		position:relative;
		display:flex;
        /* background-color: #4DFFFF; */
        box-sizing:border-box;        
        align-items:center;
		}
		
		     .input_field i{
		     margin-left:10px;     
		     position:absolute;
			 font-size: 18px;
			 font-weight: bold;
		     }
		
             #logo{
             height:60px;
             aspect-ratio:1;
			}
     
             .input{
			 position:relative;
			 padding:5px 35px;
             outline:none;
              border:none;
             height:35px;
            width:280px;
             background-color:#6cb0b84f;
			 box-sizing:border-box;
			 border-radius: 5px;
             }
			 
			 .input::placeholder{
			 position:absolute;
			 }
			 
			 .input:focus{
             border:1px solid #4DFFFF;
             color:black;
             outline:none;
			 box-sizing:border-box; 
             }     
          
             input:focus::placeholder{
             color:transparent;
             transition:all .2s;
			 translate:0 -10px;
             transition-timing-function:linear;
             }		  
		
    .navbar_right{
	height:50px;
	width: 700px;
	display:flex;
    flex-direction:row;
	align-items:center;
	margin-left: 95px;
	padding: 0 10px;
	justify-content: space-evenly;
	}
	     .navbar_right_icons{
			width:94px;
			height:50px;
		 display:grid;
         flex-direction:column;
         box-sizing:border-box; 
	     align-items:center;   
		 font-size:22px;
		 text-align:center;
		 flex-wrap: nowrap;
		 padding: 0 10px;
		 }
		 
		 .navbar_right_icons:hover{
        color: black;
		 }
		 
		     .navbar_right_text{
		     font-size:13px;
		     }
		 
		 .navbar_right_icons_user{
		 display:flex;
         flex-direction:row;
         box-sizing:border-box; 
	     align-items:center;
		 height:50px;
		 box-sizing:border-box;
		 }
		 
		     .navbar_right_icons_user_1{
			 position:relative;
			 height:40px;
			 border-left:2px solid #9999;
			 padding:0 10px;
			 box-sizing:border-box;
			 }
	
			     .material-symbols-outlined{
				 position:absolute;
				 margin-top:5px;
				 box-sizing:border-box;
				 scale:1.5;
				 }
				 
				 #anchor{
					 padding:0 5px;
					 scale:1.5;
					 box-sizing:border-box;
				 }
				 #dropdown{
				 padding:0 5px;
				 margin-top:25px;
				 box-sizing:border-box;
				 }
				 
		         .navbar_right_icons_text{
				  height:50px;
                  width:10vw;
                  color:#f8db59;				  
				  font-size:13px;
				 margin-left:35px;
				 padding-top:7px;
				 text-decoration: underline;
				 }
		 
				 .navbar_right .navbar_right_icons a:hover{
					color:#090909c2;
					font-weight: bold;
				 }

		 .navbar_right_icons_text:hover{
			font-size: 14px;
		 }

		 .navbar_right .navbar_right_icons #anchor1,
		  .navbar_right .navbar_right_icons #anchor2,
		  .navbar_right .navbar_right_icons #anchor3,
		  .navbar_right .navbar_right_icons #anchor4,
		  .navbar_right .navbar_right_icons #anchor5{
			 color:#2a2828c2;
		  }
		 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

main{
	height:1500px;
	width:1130px;
	display:flex;
	flex-direction:row;
	margin-left: 195px;
	margin-right: 195px;
	grid-template-columns: 225px auto 300px ;
	gap: 25px;
	box-sizing:border-box;
}

.left-panel{
	width:225px;
	display:flex;
	flex-direction:column;
    gap:10px;
    margin-top:25px;
	/* background-color: red;	 */
}
     .left-panel_top{
		width:225px;
		box-sizing:border-box;
		display:flex;
		flex-direction:column;
		align-items:center;
		gap: 10px;
		 border-radius:10px;
	 }

         .left-panel_top_profile_pic{
			width:225px;
			 display:flex;
			 height:180px;
	         flex-direction:column;
			 box-sizing:border-box; 
			 gap: 10px;
			 background-color:white;
			 border-radius: 10px;
			 /* background-color: aqua; */
		 }
		          .background{
					width:225px;
				    height:80px;
					border-radius: 10px 10px 0 0;
				      background-image:url(2.jpg);
				      background-size:cover;
				     
				      position:relative;
				      box-sizing:border-box;
			      }
			 
			      #profile_pic{
	                  height:80px;
	                  aspect-ratio: 1;
	                  border-radius:50%;
	                  background-color:white;
				      position:absolute;
				     top: 40px;
					 left: 73px;
                      }             
		          .profile_des{
		    	     display:flex;
	                  flex-direction:column;
					  width:225px;
		    	      height:100px;
		    	      align-items:center;
		    	      justify-content:center;
		    	      padding-top:20px;
		    	      box-sizing:border-box;
					 border-radius: 10px;
		          }
		 
		 .left-panel_top_profile_info{
			height:175px;
				 width:225px; 
				 padding:0 20px;
				 box-sizing: border-box;
				 justify-content:space-evenly;
				 background-color:white;
				 border-radius: 10px
		 }
		              .connection{
						  height:10vh;
						  display:flex;
	                      flex-direction:column;
						  justify-content:space-around;
					  } 
			            
			                 .abc , .bcd{
						        display:flex;
	                            flex-direction:row;
                                justify-content:space-between;								
					         }
							 
							 .abd,.f1{
								 font-size:13px;
							 }
			  
			                 .acc,.acv{
								 font-size:13px;
                                  margin-top:10px;
							}
							.acv{
								margin-bottom:20px;
							}
							.abb{
								display:flex;
								margin-top:12px;
								align-items:center;
							}
							.abd{
							margin-top:-17px;	
							}
							
		 .left-panel_bottom{
			width:225px;   
		 	height:350px;			
			background-color:white;
			padding:0 20px;
			display:flex;
			flex-direction:column;
			box-sizing:border-box;
			border-radius:10px;
			justify-content:space-evenly;
             }	
                     
			  
.middle-panel{
	width: 555px;
	margin-top:25px;
	display:flex;
	flex-direction:column;
	gap:15px;
}
         .post_box{
			width: 555px;
			height:120px;
             background-color:white;
	        display:flex;
	        flex-direction:column;
			border-radius:10px;
			box-sizing:border-box;
         }
		 .box_1,.icon_ad{
			 display:flex;
	        flex-direction:row;
			 align-items:center;
			 justify-content:space-evenly;
		 }
		 .box_2{
			height: 60px;
			display:flex;
	        flex-direction:row;
			align-items:center;
			justify-content:space-around;
		 }
		 .box_1{
			 padding:10px 0; 
		 }
		 
		 .main_sec_pic{
			  height:50px;
			  aspect-ratio:1;
			  background-color:rgba(9,9,9,0.15);
			  border-radius:50%;
		 }
		 .box_1 input{
			width: 467px;
			 height:40px;
        border:1.5px solid #999;
        border-radius:30px; 
        background-color:transparent;
        box-sizing:border-box;
		padding-left:30px;
		 position:relative;
		 }
		 .ri-youtube-fill{
			 color:#81f025;
			font-size:22px;
			margin: 0px 15px;
		 }
		 .ri-calendar-event-fill{
			 color:yellow;
			font-size:20px;
			margin: 0px 15px;
		 }
		 #article,#article_1{
			 color:red;
			font-size:15px;
			margin: -5px 5px;
		 }
		 
		 .post_1{
			width: 555px;
			 height:430px;
		    background-color:white;
		     display:flex;
		    flex-direction:column;
			justify-content:space-evenly;
		    border-radius:10px;
		    box-sizing:border-box;

		 }
		 
		 .post_2{
			width: 555px;
			 height:600px;
		    background-color:white;
		     display:flex;
		    flex-direction:column;
			justify-content:space-evenly;
		    border-radius:10px;
		    box-sizing:border-box;
		 }
		 
		 
		 
		  .post_head{
			display:flex;
		    flex-direction:row; 
            width:690px;
			height: 72px;
			padding:0 10px;
            box-sizing:border-box;			
		  }
		  .dots{
			 position:relative;
			 margin-left:350px;
			 bottom: 5px;
			 
		   }
		   .dots2{
			   margin-left:290px;
			   bottom: 5px;
		   }
		  
		  .post_like{
			display:flex;
            flex-direction:row;
			justify-content:space-around;
		  }
		 
.right-panel{
	width: 300px;
	 display:flex;  
	 flex-direction:column;	 
     gap:10px;
	 margin-top:25px;

}
      .right-panel_top,.right-panel_middle,.right-panel_bottom{
		  display:flex;     
		  flex-direction:column;
		   background-color:white;
	     border-radius:10px;
		 box-sizing:border-box;
		 justify-content:space-evenly;
		  padding:0px 28px;
		  width: 300px;
		 }
		 
		 
		  .right-panel_top{
		 height:250px;
		 width: 300px;
		  }
		  
		  .head,.head_2,.head_3{
			   display:flex;
			   flex-direction:row;
			   justify-content:space-between;
			   padding:5px;
			  }
			  
		  .logos{
			  height:60px;
			  width: 60px;
			  padding:10px 0px;
			  
		  }
		  #uni{
			  margin-right:40px;
			  margin-left:30px;
		  }
		  .comp{
			  display:flex;
			   flex-direction:row;
			    justify-content:space-evenly;
				min-height:100px;
				padding:5px 0px;
		  }
		  .comp .descp button{
			 height:28px;
			 width:80px;
		    border:1.5px solid #999;
             border-radius:30px;
             background-color:transparent;
             box-sizing:border-box;}
			 
			 .comp .descp button:active{
				border:1.5px solid #111;
				}
			.comp .descp button:hover{
				cursor:pointer;}	
				
				.descp{
					display:flex;
			   flex-direction:column;
				}

